@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.logo{
	cursor: pointer;
	margin-right: auto;
}
        header {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px 10%;
  
            color: white;
            text-align: center;
            font-size: 22px;
        }

        nav {
            background:#FFFFFF;
            text-align: center;
        }
        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

.about_us{
	margin-left: 15rem
}

.nav_links{
	display: flex;
	align-items: center;
	padding: 0rem;
}
        nav ul li {
            display: inline;
            margin: 0 20px;
        }
        nav ul li a {
            color: black;
            text-decoration: none;
            font-size: 18px;
        }